#method-list-box .list-box-content {
    border-right: none;
}

#method-list-box ul li .item {
    padding-left: 18px;
}

#method-list-box ul li.c-method {
    color: #99869d;
    cursor: default;
}

#method-list-box ul li.c-method:hover {
    background-color: transparent;
}

#method-list-box ul li:hover:nth-child(odd) {
    background-color: #f5f5f5;
}

#method-list-box ul li:hover {
    background-color: #ead3ff;
}
