#behaviour-list-box .class-icon {
    background: url("class-icon.svg");
}

#behaviour-list-box .module-icon {
    background: url("module-icon.svg");
}

#behaviour-list-box .exception-icon {
    background: url("exception-icon.svg");
}

#behaviour-list-box .superclass .classname {
    text-decoration: underline;
}

#behaviour-list-box .superclass .classname:hover {
    text-decoration: underline;
    color: #619da1;
}

#behaviour-list-box .superclass {
    color: #c5bec7;
}

#behaviour-list-box .selected .superclass {
    color: #ff95f2;
}

#behaviour-list-box .selected .classname:hover {
    color: #fcd7ff;
}

#behaviour-list-box ul li.no-behaviour {
    color: #99869d;
    cursor: default;
}

#behaviour-list-box ul li.no-behaviour:hover {
    background-color: #f5f5f5;
}
