.class-icon {
    background: url("class-icon.svg");
}

.module-icon {
    background: url("module-icon.svg");
}

.exception-icon {
    background: url("exception-icon.svg");
}

.superclass .classname {
    text-decoration: underline;
}

.superclass .classname:hover {
    text-decoration: underline;
    color: #619DA1;
}

#behaviour-list-box ul li.no-behaviour {
    color: #99869d;
    cursor: default;
}

#behaviour-list-box ul li.no-behaviour:hover {
    background-color: #f5f5f5;
}
