<span ng-hide="runtime_deps == null">
  <h2>Runtime Dependencies</h2>

  <p du-scroll-container="container">
    <ul ng-show="runtime_deps" ng-repeat="dep in runtime_deps">
      <li class="dependency" ng-click="selectGem(dep.name)" id="#{{dep.name}}"
          du-smooth-scroll du-scrollspy>
        {{ dep.full_name }}
      </li>
    </ul>
  </p>
</span>

<span ng-hide="development_deps == null">
  <h2>Development Dependencies</h2>

  <p du-scroll-container="container">
    <ul ng-repeat="dep in development_deps">
      <li class="dependency" ng-click="selectGem(dep.name)" id="#{{dep.name}}"
          du-smooth-scroll du-scrollspy>
        {{ dep.full_name }}
      </li>
    </ul>
  </p>
</span>
