<li ng-repeat="behaviour in behaviours | filter:searchText"
    ng-click="showGroups(behaviour); selectBehaviour($event, behaviour)"
    ng-class="{selected: behaviour.selected, 'no-behaviour': behaviour.noop}"
    ng-mouseover="showIndentation(behaviour)"
    ng-mouseout="hideIndentation(behaviour)"
    id="{{ behaviour.name }}" du-smooth-scroll>

  <span class="icon">
    <i class="{{ behaviour.icon }}-icon"></i>
  </span>

  <span ng-class="{indent: behaviour.visibleIndentation, 'no-indent': !behaviour.visibleIndentation}"
        ng-bind-html="behaviour.indentation">
  </span>

  <span class="display-name">{{ behaviour.displayName }}</span>

  <span class="superclass" ng-if="behaviour.superclass">
    &lt; <span class="classname" ng-click="openSuperclass($event, behaviour.superclass)">{{ behaviour.superclass }}</span>
  </span>
</li>
