@font-face {
  font-family: 'PT Sans';
  src: url('PT Sans.ttf') format('truetype');
}

html, body {
    height: 100vh;
}

body {
    font-family: PT Sans;
    font-size: 80%;
}

pre {
    margin: 0;
    height: 100%;
    padding: 2px 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#top, #bottom {
    width: 100vw;
    height: 50vh;
    overflow: auto;
}

#source {
    height: calc(100% - 27px);
}

#source div {
    height: 100%;
}

#bottom-content {
    height: 100%;
}

.list-box {
    width: 25%;
    float: left;
    height: 100%;
}

#layout {
    overflow: hidden;
}

.list-box-content {
    overflow: hidden;
}

.list-box-content:hover {
    overflow: auto;
    width: 100%;
}

#gem-list-box .list-box-content {
    height: calc(100% - 19px);
}

.list-box-content {
    border-right: 1px solid #e5e5e5;
    height: 100%;
}

.list-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    width: 100%;
    line-height: 160%;
}

.list-box ul li.highlighted {
    background-color: #dadacf;
}

.list-box ul li {
    cursor: pointer;
    white-space: nowrap;
    display: table-row;
    width: 100%;
    float: left;
}

.list-box ul li:nth-child(odd) {
    background: #f5f5f5;
}

.selected {
    background-color: #9763b0 !important;
    color: #fff;
}

.list-box ul li:hover {
    background-color: #ead3ff;
}

#gem-list-box {
}

#behaviour-list-box {
}

#group-list-box {
}

#method-list-box {
}

#method-list-box .list-box-content {
    border-right: none;
}

.ui-splitbar {
    background-color: #88b5c0;
}

#main-toolbar {
    height: 23px;
    background-color: #b6fff7;
}

.filter-input {
    width: 100%;
}

.filter-input input {
    width: calc(100% - 0.5px);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #e5e5e5;
    background-color: #f0eaff;
    color: #5830bb;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.16);
}

.icon {
    height: 18px;
    width: 18px;
    float: left;
    position: relative;
    top: 2px;
    text-align: center;
}

.icon i {
    width: 16px;
    height: 16px;
    float: left;
}

.ruby-icon {
    background: url("ruby-icon.png");
}

.ruby-icon:hover {
    background: url("ruby-hover-icon.png");
}

.package-icon {
    background: url("package-icon.png");
}
