@font-face {
  font-family: 'Envy Code R';
  src: url('Envy Code R.ttf')  format('truetype');
}

html, body {
    height: 100vh;
}

body {
    font-family: Envy Code R;
    font-size: 80%;
}

pre {
    margin: 0;
    height: 100%;
}

#top, #bottom {
    width: 100vw;
    height: 50vh;
    overflow: auto;
}

#source {
    height: calc(100% - 23px);
}

#bottom-content {
    height: 100%;
}

.list-box {
    width: 25%;
    float: left;
    height: 100%;
}

#layout {
    overflow: hidden;
}

.list-box-content {
    overflow-y: auto;
}

#gem-list-box .list-box-content {
    height: calc(100% - 23px);
}

.list-box-content {
    border-right: 1px solid black;
    height: 100%;
}

.list-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    width: 100%;
}

.list-box ul li.highlighted {
    background-color: #dadacf;
}

.list-box ul li {
    cursor: pointer;
    white-space: nowrap;
    display: table-row;
    width: 100%;
    float: left;
}

.list-box ul li:hover {
    background-color: yellow;
}

#gem-list-box {
    background: silver;
}

#behaviour-list-box {
    background: #ffe1e1;
}

#group-list-box {
    background: aliceblue;
}

#method-list-box {
    background: #c2ffca;
}

#method-list-box .list-box-content {
    border-right: none;
}

.ui-splitbar {
    background-color: #88b5c0;
}

#main-toolbar {
    height: 23px;
    background-color: #b6fff7;
}

.selected {
    background-color: #ffa0e1;
}

.filter-input {
    width: 100%;
}

.filter-input input {
    width: calc(100% - 0.5px);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid black;
    background-color: #c9ecec;
}
