#group-bar {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 4px;
    white-space: nowrap;
}

#group-bar-content {
    margin-top: 5px;
    margin-left: 15px;
}

#group-bar .counters {
    float: left;
    text-transform: uppercase;
    font-size: 85%;
    margin: -2px;
}

#group-bar .counters .method-count.class-side,
#group-bar .counters .method-count.instance-side {
    font-weight: 700;
    clear: both;
}

#group-bar .counters .num {
    float: right;
    padding-left: 10px;
}
