#group-bar {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 4px;
    white-space: nowrap;
}

#group-bar-content {
    margin-top: 5px;
    margin-left: 15px;
}

#group-bar .counters {
    float: left;
    text-transform: uppercase;
    font-size: 85%;
    margin: -2px;
}

#group-bar .counters .method-count.class-side,
#group-bar .counters .method-count.instance-side {
    font-weight: 700;
    clear: both;
}

#group-bar .counters .num {
    float: right;
    padding-left: 10px;
}

.squared-checkbox {
    width: 20px;
    position: relative;
    float: left;
    margin-top: 3px;
    margin-right: 6px;
    padding-bottom: 10px;
}

.squared-checkbox label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff4ff;
    background: linear-gradient(to bottom,#fff4ff 0,#e5d7e3 40%,#bcadbe 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}

.squared-checkbox label:after {
    content: '';
    width: 5px;
    height: 3px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #722b86;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}

.squared-checkbox label:hover::after {
    opacity: 0.5;
}

.squared-checkbox input[type=checkbox] {
    visibility: hidden;
}

.squared-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
