<div id="layout" ui-layout="{flow : 'row', dividerSize: 5}">
  <div id="top" ui-layout-container min-size="100px">
    <div id="{{ pane.name }}-list-box" class="list-box" ng-repeat="pane in panes" ng-controller="pane.controller">
      <div class="list-box-content">
        <ul>
          <li ng-repeat="item in items track by $index" ng-click="getSublist(item); select(item)" ng-class="{selected: item.selected}">{{ item.name }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="bottom" ui-layout-container min-size="100px">
    <div id="bottom-content">
      <div id="main-toolbar" ng-controller="MainToolbarController">
        <label>
          <input type="checkbox" ng-model="toolbar.classSide" ng-change="toggleClassSide()"/> Class side
        </label>
      </div>

      <div id="source" ng-controller="SourceController">
        <pre>{{source}}</pre>
      </div>
    </div>
  </div>
</div>
