<div id="layout" ui-layout="{flow : 'row'}">
  <div id="top" ui-layout-container min-size="100px">
    <div id="{{ pane.name }}-list-box" class="list-box" ng-repeat="pane in panes" ng-controller="pane.controller">
      <div class="list-box-content">
        <ul>
          <li ng-repeat="item in items track by $index" ng-click="getSublist(item)">{{ item }}</li>
        </ul>
      </div>
    </div>
  </div>

  <div id="bottom" ui-layout-container min-size="100px">
    <div id="bottom-content">
      <div id="source" ng-controller="SourceController">
        <pre>{{source}}</pre>
      </div>
    </div>
  </div>
</div>
