@font-face {
  font-family: 'Envy Code R';
  src: url('../fonts/Envy Code R.ttf')  format('truetype');
}

body {
    font-family: Envy Code R;
    font-size: 80%;
    height: 100%;
}

#top, #bottom {
    width: 100vw;
    height: 50vh;
    float: left;
}

#bottom {
    background-color: aqua;
}

.list-box {
    width: 25vw;
    float: left;
}

.list-box-content {
    overflow-y: auto;
}

.list-box-content {
    border-right: 1px solid black;
}

.list-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 50vh;
}

.list-box ul li.odd {
    background-color: #dadacf;
}

.list-box ul li {
    cursor: pointer;
}

.list-box ul li:hover {
    background-color: yellow;
}

#gem-list-box {
    background: silver;
}

#behaviour-list-box {
    background: #ffe1e1;
}

#group-list-box {
    background: aliceblue;
}

#method-list-box {
    background: #c2ffca;
}

#method-list-box .list-box-content {
    border-right: none;
}
