#gem-list-box .list-box-content {
    height: calc(100% - 26px);
}

.ruby-icon {
    background: url("gem-icon.svg");
}

.ruby-icon:hover {
    background: url("gem-hover-icon.svg");
}

.package-icon {
    background: url("package-icon.svg");
}
