#gem-list-box .filter-input {
    width: 100%;
}

#gem-list-box .clearable {
  background: #fff url("search_x.gif") no-repeat right -10px center;
  border: 1px solid #999;
  padding: 3px 18px 3px 4px;
  transition: background 0.18s;
}

#gem-list-box .clearable.x {
    background-position: right 5px center;
}

#gem-list-box .clearable.on-x {
    cursor: pointer;
}
