<div id="layout" ui-layout="{flow : 'row', dividerSize: 8}">
  <div id="top" ui-layout-container min-size="100px">
    <ng-include src="'modules/app.gem/partials/_gem_list_box.html'"></ng-include>
    <ng-include src="'modules/app.behaviour/partials/_behaviour_list_box.html'"></ng-include>

    <div id="group-list-box" class="list-box" ng-controller="GroupController">
      <div class="list-box-content">
        <div id="group-bar" ng-class="{visible: shouldShowGroupBar()}">
          <div id="group-bar-content" ng-show="shouldShowGroupBar()">

            <div class="squared-checkbox">
              <input type="checkbox" id="squared" ng-model="groupbar.classSide" ng-change="toggleClassSide()"/>
              <label for="squared"></label>
            </div>

            <div class="counters">
              <div id="cm-count" class="method-count"
                   ng-class="{'class-side': classSideChecked()}">
                class: <span class="num">{{ classMethodCount }}</span>
              </div>
              <div id="im-count" class="method-count"
                   ng-class="{'instance-side': !classSideChecked()}">
                instance: <span class="num">{{ instanceMethodCount }}</span>
              </div>
            </div>
          </div>
        </div>
        <ul>
          <li ng-repeat="item in items track by $index"
              ng-click="getSublist(item); select(item)"
              ng-class="{selected: item.selected}">
            <span class="item">
              {{ item.name }}
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div id="method-list-box" class="list-box" ng-controller="MethodController">
      <div class="list-box-content">
        <ul>
          <li ng-repeat="item in items track by $index"
              ng-click="getSublist(item); select(item)"
              ng-class="{selected: item.selected}">
            <span class="item">
              {{ item.name }}
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id="bottom" ui-layout-container min-size="100px">
    <div id="bottom-content">
      <div id="main-toolbar" ng-controller="ToolbarController">
      </div>

      <div id="source" ng-controller="SourceController">
        <div ng-bind-html="source"></div>
      </div>
    </div>
  </div>
</div>
