<div id="layout" ui-layout="{flow : 'row', dividerSize: 8}">
  <div id="top" ui-layout-container min-size="100px">
    <ng-include src="'modules/app.gem/partials/_gem_list_box.html'"></ng-include>
    <ng-include src="'modules/app.behaviour/partials/_behaviour_list_box.html'"></ng-include>
    <ng-include src="'modules/app.group/partials/_group_list_box.html'"></ng-include>
    <ng-include src="'modules/app.method/partials/_method_list_box.html'"></ng-include>
  </div>

  <div id="bottom" ui-layout-container min-size="100px">
    <div id="bottom-content">
      <div id="main-toolbar" ng-controller="ToolbarController">
      </div>

      <div id="source" ng-controller="SourceController">
        <div ng-bind-html="source"></div>
      </div>
    </div>
  </div>
</div>
