@font-face {
  font-family: 'PT Sans';
  src: url('PT Sans.ttf') format('truetype');
}

html, body {
    height: 100vh;
}

body {
    font-family: PT Sans;
    font-size: 80%;
}

pre {
    margin: 0;
    height: 100%;
    padding: 2px 5px;
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

#top, #bottom {
    width: 100vw;
    height: 50vh;
    overflow: auto;
}

#source {
    height: calc(100% - 27px);
}

#source div {
    height: 100%;
}

#bottom-content {
    height: 100%;
}

.list-box {
    width: 25%;
    float: left;
    height: 100%;
}

#layout {
    overflow: hidden;
}

.list-box-content {
    overflow: auto;
}

#gem-list-box .list-box-content {
    height: calc(100% - 22px);
}

.list-box-content {
    border-right: 1px solid #e5e5e5;
    height: calc(100% - 3px);
}

.list-box ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    float: left;
    display: table;
    width: calc(100% - 18px);
    line-height: 160%;
}

.list-box ul li.highlighted {
    background-color: #dadacf;
}

.list-box ul li {
    cursor: pointer;
    white-space: nowrap;
    display: table-row;
    width: calc(100% + 18px);
    float: left;
    transition: text-shadow 0.1s ease;
}

.list-box ul li.selected {
    background-color: #9763b0 !important;
    color: #fff;
    text-shadow: -1px -1px 0 rgba(55, 55, 55, 0.59) !important;
}

.list-box ul li:nth-child(odd) {
    background: #f5f5f5;
}

.list-box ul li:hover {
    background-color: #ead3ff;
}

.list-box-content .indent {
    visibility: visible;
    color: #ce93d0;
}

.list-box-content .selected .indent {
    visibility: visible;
    color: #d3b6d3;
}

.list-box-content .no-indent {
    visibility: hidden;
}

.list-box-content .display-name,
.list-box-content .indent,
.list-box-content .no-indent {
    white-space: pre;
}

.list-box-content ul li .superclass {
    color: #c5bec7;
}
.list-box-content .selected .superclass {
    color: #ff95f2;
}

#method-list-box .list-box-content {
    border-right: none;
}

.ui-splitbar {
    box-shadow: 0px -2px 2px rgba(0, 0, 0, 0.16);
    overflow: hidden;
}

.ui-splitbar:hover {
    box-shadow: 0 -3px 3px rgba(77, 11, 79, 0.25);
    transition: box-shadow 0.3s linear;
}

.ui-splitbar::before {
    content: "=";
    font-size: 125%;
    margin-top: 1px;
    font-family: "PT Mono";
    color: #8b8b8b;
}

#main-toolbar {
    height: 23px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

.filter-input {
    width: 100%;
}

.filter-input input {
    width: calc(100% - 0.5px);
    border-top: none;
    border-left: none;
    border-bottom: none;
    border-right: 1px solid #e5e5e5;
    background-color: #f0eaff;
    color: #5830bb;
    box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.16);
}

.icon {
    height: 18px;
    width: 18px;
    float: left;
    position: relative;
    top: 2px;
    text-align: center;
}

.icon i {
    width: 16px;
    height: 16px;
    float: left;
}

.ruby-icon {
    background: url("ruby-icon.png");
}

.ruby-icon:hover {
    background: url("ruby-hover-icon.png");
}

.package-icon {
    background: url("package-icon.png");
}

.class-icon {
    background: url("class-icon.svg");
}

.module-icon {
    background: url("module-icon.svg");
}

.exception-icon {
    background: url("exception-icon.svg");
}

#group-list-box ul li .item,
#method-list-box ul li .item{
    padding-left: 18px;
}

#group-bar {
    display: none;
}

#group-bar.visible {
    display: block;
    width: 100%;
    float: left;
    border-bottom: 1px solid #e5e5e5;
    margin-top: 4px;
    white-space: nowrap;
}

#group-bar-content {
    margin-top: 5px;
    margin-left: 15px;
}

#group-bar .counters {
    float: left;
    text-transform: uppercase;
    font-size: 85%;
    margin: -2px;
}

#group-bar .counters .method-count.class-side,
#group-bar .counters .method-count.instance-side {
    font-weight: 700;
    clear: both;
}

#group-bar .counters .num {
    float: right;
    padding-left: 10px;
}

.squared-checkbox {
    width: 20px;
    position: relative;
    float: left;
    margin-top: 3px;
    margin-right: 6px;
    padding-bottom: 10px;
}

.squared-checkbox label {
    width: 14px;
    height: 14px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    background: #fff4ff;
    background: linear-gradient(to bottom,#fff4ff 0,#e5d7e3 40%,#bcadbe 100%);
    border-radius: 4px;
    box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0, 0, 0, 0.5);
}
.squared-checkbox label:after {
    content: '';
    width: 5px;
    height: 3px;
    position: absolute;
    top: 4px;
    left: 4px;
    border: 3px solid #722b86;
    border-top: none;
    border-right: none;
    background: transparent;
    opacity: 0;
    transform: rotate(-45deg);
}
.squared-checkbox label:hover::after {
    opacity: 0.5;
}
.squared-checkbox input[type=checkbox] {
    visibility: hidden;
}
.squared-checkbox input[type=checkbox]:checked + label:after {
    opacity: 1;
}
